/*@font-face
{
	font-family: 'BallparkWeiner';
		src: url('polices/ballpark.eot');
		src: url('polices/ballpark.eot?#iefix') format('embeddedopentype'),
			url('polices/ballpark.woff') format('woff'),
			url('polices/ballpark.ttf') format('truetype'),
			url('polices/ballpark.svg#BallparkWeiner') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face
{
	font-family: 'Dayrom';
		src: url('polices/dayrom.eot');
		src: url('polices/dayrom.eot?#iefix') format('embeddedopentype'),
			url('polices/dayrom.woff') format('woff'),
			url('polices/dayrom.ttf') format('truetype'),
			url('polices/dayrom.svg#Dayrom') format('svg');
		font-weight: normal;
		font-style: normal;
}*/

@font-face
{
	font-family:'Calligrapher Regular';
		src: url('Polices/calligrapherregular.ttf') format('truetype');
		/*Trouver les autres formats pour une meilleure compatibiliteeeee*/
}